

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
  <mat-card class="container">
    <mat-card-title>
      Add a recipe
    </mat-card-title>
    <mat-card-content>
      <div [formGroup]="form">

        <mat-form-field style="width:100%">
          <input matInput placeholder="Name of the dish" class="form-control" formControlName="title" type='text' required>
        </mat-form-field>

        <mat-form-field style="width:100%;margin-bottom:30px;border-bottom:2px solid #eee;">
          <input matInput placeholder="Instructions" class="form-control" formControlName="instruction" type="text">
        </mat-form-field>

        <div formArrayName="ingredients">
          <div *ngFor="let ingredient of ingredientFormGroup.controls; let i = index;">
            <div [formGroupName]="i" class="row">
              <mat-form-field>
                <input matInput placeholder="Ingredients" class="form-control" formControlName="ingredient" type="text">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Amount" class="form-contol" formControlName="amount" type="text">
              </mat-form-field>
              <button mat-icon-button class="btn" (click)=addIngredient()>
                <mat-icon aria-label="Add ingredient">add_circle_outline</mat-icon>
              </button>
              <button mat-icon-button class="btn btn-danger" (click)=removeIngredient()>
                <mat-icon color="warn" aria-label="Remove ingredient">clear</mat-icon>
              </button>
            </div>
          </div>
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="accent" (click)=onSubmit()>Save recipe</button>
    </mat-card-actions>
  </mat-card>
</div>
