<h2>My Foodweek!</h2>
<div class="container"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="space-between"
fxLayoutGap="10px"
fxLayoutGap.xs="0">
 
  <div class="item item-1">
    <ul class="selectedDays">
      <li *ngFor="let day of selectedDays"
        [class.selected]="day === selectedDay"
        (click)="onSelect(day)">
        <span class="badge">{{day.day}}</span> {{day.recipeName}}
      </li>
    </ul>
  </div> 

  <div class="item item-2">
    <app-recipe-detail [recipe]="selectedRecipe"></app-recipe-detail>
    
  </div>
</div>



