.recipe-sidenav {
  max-width: 730px;
}

.mat-drawer-inner-container {
  padding: 20px 10px !important;
}

.mat-card {
  padding: 13px 0;
}

.mat-card-image {
  object-fit: cover;
  overflow: hidden;
  height: 200px;
  width: 100%;
  margin: 0;
}

.mat-card-header-text {
  margin: 0 !important;
}

.mat-card-header div {
  margin: 0;
}

.mat-card-actions button {
  position: absolute;
  right: 5px;
  bottom: 2px;
}

.day-card:hover {
  //transform:scale(1.03);
  border-radius: 0;
}

.day-card {
  width: 381px;
  margin: 4px 6px;
}

.weekview-container {
  padding: 20px;
  height: calc(100% - 64px);
}

.selectedDays a:hover {
  color: primary;
}

.selected {
  background-color: #90a4ae !important;
  color: white;
}

.mat-fab-close {
  z-index: 4;
  right: 20px !important;
  bottom: 12px !important;
  position: fixed !important;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
