<mat-sidenav-container class="weekview-container">
  <mat-sidenav #drawer position="end" class="recipe-sidenav" mode="over">
    <div style="padding:10px 20px;">
      <app-recipe-detail [recipe]="selectedRecipe"></app-recipe-detail>
    </div>
  </mat-sidenav>

  <div class="selectedDays" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly left">
    <app-recipe-card *ngFor="let day of selectedDays" [isWW]="true" [recipe]="day" [selectedRecipe]="selectedDay" [drawer]="drawer" (selRec)="onSelect($event)" (selDay)='onSelect($event)' (genNew)='generateNew()'></app-recipe-card>
  </div>

  <div class="saveButton" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
    <button mat-raised-button color="primary" (click)="saveWeek()">Save your FoodWeek!</button>
  </div>

</mat-sidenav-container>

<button mat-fab *ngIf="drawer.opened" (click)="drawer.close()" color="accent" class="mat-fab-close">
  <mat-icon matTooltip="Close" matTooltipPosition='above' aria-label="Close drawer">navigate_next</mat-icon>
</button>
