<mat-drawer-container class="recipe-container">
  <mat-drawer #drawer position="end" class="recipe-sidenav" mode="side">
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button *ngIf="drawer.opened" (click)="drawer.close()" mat-raised-button class="fill-remaining-space drawerCloseButton">
      Close drawer
    </button>
    <app-recipe-detail [recipe]="selectedRecipe"></app-recipe-detail>
  </mat-drawer>

<div class="recipes">
  <mat-card class="recipe-card" *ngFor="let recipe of recipes"
  [class.selected]="recipe === selectedRecipe"
  (click)="onSelect(recipe)">
    <a (click)="drawer.open()">
      <mat-card-header>
        <mat-card-title>{{recipe.title | uppercase}}</mat-card-title>
        </mat-card-header>
      <mat-card-content><img mat-card-image src="{{recipe.thumbnail}}" alt="{{recipe.title}}">

      </mat-card-content>
      <mat-card-actions>
        <button mat-button>change</button>
      </mat-card-actions>
    </a>
  </mat-card>
</div>


  <div class="recipe-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container>
