mat-drawer,
mat-sidenav {
  width: 794px;
}

.drawerCloseButton {
  position: absolute;
  left: 0;
  bottom: 0;
}

.mat-drawer-inner-container {
  padding: 20px 10px !important;
}

.mat-card-title {}

.mat-card-content {
  height: 90px;
  width: 240px;
  overflow: hidden;
}

.mat-card-image{
  object-fit: cover;
  object-position: center;
}

.mat-card-actions button {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.recipe-card:hover {
  //transform:scale(1.03);
  border-radius: 0;
}

.recipe-card {
  max-width: 240px;
  margin: 4px 6px;
  height: 160px;
}

.recipe-container {
  padding: 10px 0;
}

.recipes a:hover {
  color: primary;
}

.selected {
  background-color: #90a4ae !important;
  color: white;
}
