<mat-drawer-container class="recipe-container">
  <mat-drawer #drawer position="end" class="recipe-sidenav" mode="side">
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
    <app-recipe-detail [recipe]="selectedHero"></app-recipe-detail>
  </mat-drawer>

<div class="recipes">
  <mat-card class="recipe-card" *ngFor="let recipe of recipes">
    <a (click)="drawer.open()" routerLink="/detail/{{recipe.id}}">
      <mat-card-header>
        <mat-card-title>{{recipe.name | uppercase}}</mat-card-title>
        <mat-card-subtitle>id:{{recipe.id}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{recipe.thumbnail}}" alt="Photo of {{recipe.name}}">
      <mat-card-content>
        <p>{{recipe.short_text}}</p>
        <p>portions: {{recipe.portions}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>change</button>
      </mat-card-actions>
    </a>
  </mat-card>
</div>


  <div class="recipe-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container>
