.recipe-drawer{
  max-width: 730px;
}

.mat-drawer-inner-container {
  padding: 20px 10px !important;
}

.recipes a:hover {
  color: primary;
}

.mat-fab-bottom-right {
  top: auto !important;
  right: 20px !important;
  bottom: 12px !important;
  left: auto !important;
  position: fixed !important;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  15% {opacity: 0;}
  100% {opacity: 1;}
}
