<h2>Welcome</h2>
<h3>Check the boxes for the days you want recipes!</h3>

<form class="checkbox-form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <div *ngFor="let day of days.controls; let i = index">
      <mat-checkbox [formControl]="day">
        {{selections.days[i].day}}
      </mat-checkbox>
    </div>
  </div>
  <div class="submit-button" fxLayoutAlign="center">
    <button mat-raised-button color="primary" type="submit">Generate!</button>
  </div>
</form>
