<div class="fullscreen-bg">
  <video autoplay muted loop id="backgroundVideo" class="fullscreen-bg__video">
    <source src="assets/backdrop.webm" type="video/webm">
  </video>
</div>

<h2 color="primary">Welcome</h2>
<h3>Check the boxes for the days you want recipes!</h3>

<div class="checkbox-form" [formGroup]="form">
  <div id="aoi" style="max-width:1000px">
    <div *ngFor="let day of days.controls; let i = index">
      <label>
        <input type="checkbox" [formControl]="day">
        <span class="label-body">{{selections.days[i].day}}</span>
      </label>
    </div>
  </div>
  <div class="submit-button" fxLayoutAlign="center">
    <button mat-raised-button color="primary" (click)="onSubmit(form.value)">Generate!</button>
  </div>
</div>