.checkbox-form {
  margin-top: 3%;
  max-width: 1000px;
  margin: 0 auto;
}

.submit-button {
  margin-top: 3%;
}

h2 {
  margin-top: 3%;
  text-align: center;
}

h3 {
  margin-top: 3%;
  text-align: center;
}

input:checked+span {
  background-color: var(--base-color);
  color: white;
  box-shadow: inset 1px 1px 1px 0 black;
}

.unsub input:checked+span {
  background-color: red;
  color: white;
  box-shadow: inset 1px 1px 1px 0 black;
}

input[type="checkbox"] {
  display: none;
}

label > .label-body {
  margin: 0.4rem;
  padding: 60px 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  width:200px;
}
