<div class="fullscreen-bg">
  <video [autoplay]="true" [muted]="true"  loop id="backgroundVideo" class="fullscreen-bg__video">
    <source src="assets/backdrop.webm" type="video/webm">
  </video>
</div>

<div class="welcome-header">
  <h1>Welcome</h1>
  <h2>Check the boxes for the days you want recipes!</h2>
</div>

<div class="checkbox-form" [formGroup]="form">
  <div id="aoi" style="max-width:1000px">
    <div *ngFor="let day of days.controls; let i = index">
      <label>
        <input type="checkbox" [formControl]="day">
        <span class="label-body" color="primary">{{selections.days[i].day}}</span>
      </label>
    </div>
  </div>
  <div class="submit-button" fxLayoutAlign="center">
    <button mat-raised-button color="primary" (click)="onSubmit(form.value)">Generate!</button>
  </div>
</div>
