.checkbox-form {
  margin-top: 3%;
  max-width: 1000px;
  margin: 0 auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.submit-button {
  margin-top: 3%;
}

h2 {
  margin-top: 3%;
  text-align: center;
}

h3 {
  margin-top: 3%;
  text-align: center;
}

#aoi {
  display: grid;
      grid-template-columns: repeat(auto-fit, minmax(130px, 3fr));
      grid-auto-rows: auto;
      grid-gap: 5px;
      padding:0 30px;
}

#aoi label {
  display: grid;
}

input:checked+span {
  box-shadow: inset 1px 1px 1px 0 #333;
}

input[type="checkbox"] {
  display: none;
}

label > .label-body {
  margin: 0.4rem;
  padding:45px 5px;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  text-align: center;
  color:#444;
  box-shadow: 1px 2px 2px 1px #c3c3c3;
  background-color:white;
}
